* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    height: 100vh;
    background-color: #000;
    background-image: url('https://images.unsplash.com/photo-1463143296037-46790ff95a7e?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
}

a:hover {
    color: orange;
}

/* HEADER */

header {
    position: relative;
    padding: 0 2rem;
}

.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    font-size: 2rem;
    font-weight: bold;
}

.navbar .links {
    display: flex;
    gap: 2rem;
}

.navbar .toggle_btn {
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
    display: none;
}

.action_btn {
    background-color: #043348;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 1.3rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}

.action_btn:hover {
    scale: 1.05;
    color: #fff;
}

.action_btn:active {
    scale: 0.95;
}

/* DROPDOWN MENU */
.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
    height: 240px;
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* HERO */
section#hero {
    height: calc(100vh - 60px);
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    color: #fff;
}

/* CARDS */
/* .center, .center_2, .center_3, .center_4, .front-face,
.contents, .back-face {
    position: absolute;
} */

.center {
    /* top: 50%;
    left: 25%; */
    /* transform: translate(-50%, -50%); */
    height: 400px;
    width: 290px;
    transform-style: preserve-3d;
    perspective: 1000px;
}

.center_2 {
    /* top: 50%;
    left: 50%; */
    /* transform: translate(-50%, -50%); */
    height: 400px;
    width: 290px;
    transform-style: preserve-3d;
    perspective: 1000px;
}

.center_3 {
    /* top: 50%;
    left: 75%;
    transform: translate(-50%, -50%); */
    height: 400px;
    width: 290px;
    transform-style: preserve-3d;
    perspective: 1000px;
}

.center_4 {
    /* top: 50%;
    left: 100%;
    transform: translate(-50%, -50%); */
    height: 400px;
    width: 290px;
    transform-style: preserve-3d;
    perspective: 1000px;
}

.front-face, .back-face {
    position: absolute;
    height: 100%;
    width: 100%;
    text-align: center;
    background: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.2)), url('https://marketplace.canva.com/EAE4oJOnMh0/1/0/1003w/canva-capa-de-livro-de-suspense-O7z4yw4a5k8.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: transform .7s cubic-bezier(.4, .2, .2, 1);
}

.contents {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    perspective: 100px;
    transform: translateY(-50%) translateZ(60px);
}

/* .front p {
    color: white;
    font-size: 35px;
    margin-bottom: 15px;
} */

/* .front p::after {
    content: '';
    display: block;
    left: 0;
    right: 0;
    height: 2px;
    width: 100px;
    background: white;
    margin: 0 auto;
    margin-top: 10px;
} */

/* .front span {
    color: white;
    font-size: 23px;
} */

.back-face {
    transform: rotateY(180deg);
    background: linear-gradient(45deg, #043348 0%, #032535 100%);
}

.back {
    color: white;
}

.back h2 {
    font-size: 33px;
    padding-bottom: 5px;
}

.back span {
    font-size: 25px;
}

.icons {
    margin: 10px 0;
}

.icons .fab {
    color: #042f4b;
    font-size: 20px;
    height: 40px;
    width: 40px;
    background: white;
    border-radius: 50%;
    line-height: 40px;
    margin: 0 5px;
    cursor: pointer;
}

.center:hover > .back-face, .center_2:hover > .back-face, 
.center_3:hover > .back-face, .center_4:hover > .back-face{
    transform: rotateY(0deg);
}

.center:hover > .front-face, .center_2:hover > .front-face,
.center_3:hover > .front-face, .center_4:hover > .front-face {
    transform: rotateY(-180deg);
}

/* RESPONSIVE DESIGN */
@media (max-width: 992px) {
    .navbar .links,
    .navbar .action_btn {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .dropdown_menu {
        display: block;
    }
}

@media (max-width: 576px) {
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }
}