.card {
    height: 100%;
    width: 300px;
}

.card-body {    
    flex-grow: 1;
}

.btn-add {
    background-color: #042f4b;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.3s ease;
}


.btn-add:hover {
    background-color: #03557d;
}


.btn-add:focus {
    outline: none;
    transform: scale(1.1);
}


.btn-add:active {
    transform: scale(0.98);
}
