<form

    {% if usuario %}
        action="{{ url_for('user.edit_user', id=usuario.id) }}" 
    {% else %}
        action="{{ url_for('user.add_user') }}" 
    {% endif %}

    method="POST">

    <div class="mb-3">
        <label for="nome" class="form-label">Nome</label>
        <input type="text" class="form-control" placeholder="Digite seu nome" name="nome" {% if usuario%}value="{{usuario.titulo}}"{% endif %}>
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">autor</label>
        <input type="email" class="form-control" placeholder="Digite seu e-mail" name="autor" {% if usuario%}value="{{usuario.autor}}"{% endif %}>
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">isbn</label>
        <input type="email" class="form-control" placeholder="Digite seu e-mail" name="isbn" {% if usuario%}value="{{usuario.isbn}}"{% endif %}>
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">categoria</label>
        <input type="email" class="form-control" placeholder="Digite seu e-mail" name="categoria" {% if usuario%}value="{{usuario.categoria}}"{% endif %}>
    </div>
    <!-- <div class="mb-3">
        <label for="senha" class="form-label">Senha</label>
        <input type="password" class="form-control" placeholder="Digite sua senha" name="nome" {% if usuario%}value="{{usuario.nome}}"{% endif %}>
    </div>
    <div class="mb-3">
        <label for="confirmarSenha" class="form-label">Confirmar Senha</label>
        <input type="password" class="form-control" id="confirmarSenha" placeholder="Confirme sua senha" required>
    </div> -->
    <button type="submit" class="btn btn-primary w-100">
        {% if usuario %}Salvar{% else %}Criar{% endif %}
    </button>
</form>