<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cards.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}" />
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="https://kit.fontawesome.com/a2c653daa5.js" crossorigin="anonymous"></script>
    <title>Biblioteca</title>
</head>
<body>
    <header>
        <div class="navbar">
            <div class="logo"><a href="#">Biblioteca Virtual</a></div>
                <ul class="links">
                    <li><a href="/">Home</a></li> <!-- Vai apresentar alguns livros e algumas categorias (Uma prévia do site) -->
                    <li><a href="/user/explorar">Explorar</a></li> <!-- Leva para a lista de livros completa -->
                    <li><a href="services">Categorias</a></li> <!-- Vai apresentar a lista filtrada por categorias -->
                    <li><a href="contact">Coleção</a></li> <!-- Lista de libros adicionados pelo usuário - Vai funcionar como a gestão de usuários só que para os libros -->
                </ul>
                <a href="/user/new" class="action_btn">Login</a>
                <div class="toggle_btn">
                    <i class="fa-solid fa-bars"></i>
                </div>
            </div>

            <div class="dropdown_menu">
                <li><a href="/">Home</a></li>
                <li><a href="/user/explorar">Explorar</a></li>
                <li><a href="services">Categorias</a></li>
                <li><a href="contact">Coleção</a></li>
                <li><a href="/user/new" class="action_btn">Login</a></li>
            </div>
    </header>

    <main>
        <section id="hero">
            <!-- CARDS -->
            <div class="center">
                <div class="front-face"></div>
                <div class="back-face">
                    <div class="contents back">
                        <h2>lorem ipsum</h2>
                        <span>lorem ipsum</span>
                        <div class="icons">
                            <i class="fab fa-twitter"></i>
                            <i class="fab fa-instagram"></i>
                            <i class="fab fa-linkedin-in"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="center_2">
                <div class="front-face"></div>
                <div class="back-face">
                    <div class="contents back">
                        <h2>lorem ipsum</h2>
                        <span>lorem ipsum</span>
                        <div class="icons">
                            <i class="fab fa-twitter"></i>
                            <i class="fab fa-instagram"></i>
                            <i class="fab fa-linkedin-in"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="center_3">
                <div class="front-face"></div>
                <div class="back-face">
                    <div class="contents back">
                        <h2>lorem ipsum</h2>
                        <span>lorem ipsum</span>
                        <div class="icons">
                            <i class="fab fa-twitter"></i>
                            <i class="fab fa-instagram"></i>
                            <i class="fab fa-linkedin-in"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="center_4">
                <div class="front-face"></div>
                <div class="back-face">
                    <div class="contents back">
                        <h2>lorem ipsum</h2>
                        <span>lorem ipsum</span>
                        <div class="icons">
                            <i class="fab fa-twitter"></i>
                            <i class="fab fa-instagram"></i>
                            <i class="fab fa-linkedin-in"></i>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- Footer -->
         <section id="body-footer">
            <footer>
                <ul class="social-icons">
                    <li>
                        <a href="#"><i class="fa-brands fa-github"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa-solid fa-envelope"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa-brands fa-youtube"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    </li>
                </ul>
                <p>Create with by @caua-miguel</p>
            </footer> 
         </section>
    </main>

    <script>
        const toggleBtn = document.querySelector('.toggle_btn')
        const toggleBtnIcon = document.querySelector('.toggle_btn i')
        const dropDownMenu = document.querySelector('.dropdown_menu')

        toggleBtn.onclick = function () {
            dropDownMenu.classList.toggle('open')
            const isOpen = dropDownMenu.classList.contains('open')

            toggleBtnIcon.classList = isOpen
            ? 'fa-solid fa-xmark'
            : 'fa-solid fa-bars'
        }
    </script>

</body>
</html>